@font-face {
    font-family:  'Amiri', serif;
    src: url(../fonts/Amiri-BoldItalic.ttf);
}
body{
    font-family:  'Amiri', serif;
}
.container-fluid{
    width: 100%; 
}
.navbar{
    position: fixed;
    background-color: rgba(138, 9, 9,0.5);
    z-index: 1;
}
.navbar{
    color: #c8102e;
    font-weight: bolder;
}
.navbar .title{
    color: yellow;
    font-weight: bolder;
}
.navbar-nav{
    position: absolute;
    right: 30px;
}
.navbar-nav li a{
    color: white;
}
nav.navbar button.navbar-toggler{
    margin: 30px auto;
}
nav.navbar button.navbar-toggler-icon{
   background-color: #c8102e;
}
nav .navbar-nav{
right: 30px;
}

.carousel{
    display: flex !important;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.carousel .carousel-indicators li{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 20px 5px 0px 0px;
}
.carousel .carousel-item img{
    height: 450px;
}
.carousel .carousel-caption h2{
    text-align: center;
    text-shadow: 0 0 20px #c8102e, 0 0 30px #c8102e, 0 0 40px #c8102e, 0 0 50px #c8102e, 0 0 60px #c8102e, 0 0 70px #c8102e, 0 0 80px #c8102e;
}
h1{
    text-align: center;
    color: white;
    background-color: #c8102e;
    margin-bottom: 0%;
}
.content .card{
    margin-top: 30px;
    margin-bottom: 0%;
}
.content .card img{
    height: 200px;
    width: 304px;
}
.content .card h4{
    color: black;
    text-align: center;
}
.carousel-2 .overlay{
    background-color: rgb(247, 233, 194);
}
#footer-nav {
    margin-top: 0%;
    background-color: #c8102e;
}
#footer-nav-links {
    margin: 30px 0;
}

#footer-nav-links a {
    color: yellow;
    margin-left: 30px;
    font-weight: bolder;
}

#footer-nav-links a:hover {
    text-decoration: none;
}
#footer-copyright-social {
    background-color: #151515;
    color: #c8102e;
    padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 700;
}

#footer-copyright-social a {
    color: #c8102e;
    margin-left: 5px;
	margin-right: 5px
}
.about img{
    width:100%;
    height: 400px;
}
h3{
    color: #c8102e;
    text-align: center;
}
p{
    font-weight: bolder;
    text-align: center;
}
p .desc{
    color: #c8102e;
}
.cardm{
    align-items: stretch;
    display: flexbox;
}
.menu img{
    width:100%;
    height: auto;
}
.dropdown .dropdown-item{
    display: inline;
}
.menu1{
    color: black;
    text-align: center;
}
h4{
    color: black;
    text-align: center;
}
#cover {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(138, 9, 9,0.5);
    z-index: -1;
    border-radius: 10px;
}
#pizza{
    background: #c8102e;
    width: 100%;
    height: 350px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.media .rating .active{
color: yellow;
}
.comments .media {
    margin: 15px;
}

.comments .media:first-child {
	margin-top: 0px;
}

.comments .media img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
	border: 1px solid #dfdfdf;
}

.comments .media .media-heading {
    font-size: 18px;
	margin-bottom: 5px;
}