@font-face {
  font-family: "Amiri", serif;
  src: url(../fonts/Amiri-BoldItalic.ttf);
}
body {
  font-family: "Amiri", serif;
}

.top-menu .navbar {
  margin-right: 250px;
  width: 100%;
  position: fixed;
  background-color: rgba(138, 9, 9, 0.5);
  z-index: 1 !important;
  color: #c8102e;
}
.top-menu .navbar .title {
  color: yellow;
}

.top-menu .navbar-nav li a {
  color: white;
}

.top-menu .navbar-nav li a:hover {
  color: yellow;
}

.top-menu .navbar-nav li a:active {
  color: #c8102e;
}
.top-menu .navbar-nav  .active>.nav-link{
  color: #c8102e;
  background-color: white;
}

.navbar-toggler {
  margin-right: auto !important;
  color: yellow !important;
  border: yellow !important;
  background-color: white !important;
  z-index: 2 !important;
}

.carousel {
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.carousel .carousel-control-next {
  z-index: 0 !important;
}

.carousel .carousel-control-prev {
  z-index: 0 !important;
}

.carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 20px 5px 0px 0px;
}

.carousel .carousel-item img {
  height: 450px;
}

.carousel .carousel-caption h2 {
  text-align: center;
  text-shadow: 0 0 20px #c8102e, 0 0 30px #c8102e, 0 0 40px #c8102e, 0 0 50px #c8102e, 0 0 60px #c8102e, 0 0 70px #c8102e, 0 0 80px #c8102e;
}

h1 {
  text-align: center;
  color: white;
  background-color: #c8102e;
  margin-bottom: 0%;
}

.content .card {
  margin-top: 30px;
  margin-bottom: 0%;
}

.content .card img {
  height: 200px;
}

.content .card h4 {
  color: black;
  text-align: center;
}

.carousel-2 .overlay {
  background-color: #f7e9c2;
}

#footer-nav {
  margin-top: 0%;
  background-color: #c8102e;
}

#footer-nav-links {
  margin: 30px 0;
}

#footer-nav-links a {
  color: yellow;
  margin-left: 30px;
  font-weight: bolder;
}

#footer-nav .footer-logo {
  color: white;
}

#footer-nav .footer-logo .title {
  color: yellow;
}

#footer-nav-links a:hover {
  color: white;
  text-decoration: none;
}

#footer-copyright-social {
  margin: 0%;
  width: auto;
  background-color: black;
  color: #c8102e;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
}

#footer-copyright-social a {
  color: #c8102e;
  margin-left: 5px;
  margin-right: 5px;
}

.about img {
  width: 100%;
  height: 400px;
}

h3 {
  color: #c8102e;
  text-align: center;
}

p {
  font-weight: bolder;
  text-align: center;
}

p .desc {
  color: #c8102e;
}

.cardm {
  align-items: stretch;
  display: flexbox;
}

.cardm .card-img-top {
  height: 200px;
}

.dropdown .dropdown-item {
  display: inline;
}
.dropdown .dropdown-item:active{
  background-color:#c8102e;
}
.menu1 {
  color: black;
  text-align: center;
}

h4 {
  color: black;
  text-align: center;
}

#cover {
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

form:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
}

#pizza {
  background: #c8102e;
  width: 100%;
  height: 350px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media .rating .active {
  color: yellow;
}

.comments .media {
  margin: 15px;
}

.comments .media:first-child {
  margin-top: 0px;
}

.comments .media img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  border: 1px solid white;
}

.comments .media .media-heading {
  font-size: 18px;
  margin-bottom: 5px;
}
.pay img{
  width: 100%;
  height: 400px;
}
#form-checkout{
  margin: auto;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(138, 9, 9, 0.5);
  z-index: -1;
}
@media (min-width:51px)and(max-width:315px){
  #pizza{
    position: relative;
    width: 320px;
  }
}
@media (min-width:925px)and(max-width:991px){
  .top-menu .navbar .title {
    display: inline-block !important;
    white-space: nowrap !important;
    margin-right: 25px !important;
  }
}
/*# sourceMappingURL=style.css.map */
